.contain {
    justify-content: center;
    align-items: center;

    height: 100%;
}

.contactMe {
    font-size: 16.5px;
}

.contact-links {
    margin: 10px;
    justify-content: center;
}

.formInput {
    background-color: #0A0A0A;
    color: white;
    border: none;
}

.formInput:focus {
    background-color: #0A0A0A;
    color: white;
}

.form-control.is-valid, .was-validated .form-control:valid {
    background-image: none;
}

.errorText {
    margin-top: 10px;
}

.submit {
    color: white;
}

.formInputRequired::after {
    content: ' *';
    color: #dc3545;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0 20px #0A0A0A inset;
}