.navBar {
    background-color: #0A0A0A;
}

.links {
    color: #505050
}

.links:hover {
    cursor: pointer;
    text-decoration: none;
    color: var(#0a58ca);

    border-radius: 0.25em;

    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
}

.brandName:hover {
    cursor: pointer;
    text-decoration: none;
    color: var(#0a58ca);

    border-radius: 0.25em;

    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
}

.navBar {
    height: 100vh;
    width:  50px;
    margin: none;
    padding: none;

    position: fixed;
}

.tooltip [class$="inner"] {
    background-color: #0A0A0A;
    border: 1px solid #0A0A0A;
}

.tooltip-arrow::before {
    display: none;
}

.brandName {
    color: white;
    text-decoration: none;
    font-size: 30px;

    font-family: 'Rubik', sans-serif;
}

.iconResize {
    font-size: 30px;
}

.pageLinks {
    height: 25rem;
}

.socials {
    height: 0;
    margin-bottom: 1rem;
}

.hidden {
    display: none;
}

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css");